body {
  background: url(cupcake.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: "Courier New", Courier, monospace;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.logo-box2 {
  height: 80px;
  padding-left: 20px;
  margin-top: 0;
  padding-top: 20px;
}
div.row {
  color: hsl(328, 100%, 69%);
  font-family: cursive;
}
#heading {
  padding-top: 10%;
}
.logo {
  height: 10px;
}
.button {
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;

  font-family: cursive;
  margin-top: 10%;

  padding: 12px 16px;
  border-radius: 100px;
  color: hsl(328, 100%, 69%);
}
.button.gift {
  background-color: hsl(34, 6%, 24%);
}

.button:hover.gift {
  background: rgb(251, 177, 213);
}

.button:active.gift {
  background: rgb(251, 177, 213);
}
@media only screen and (max-width: 700px) {
  #logo {
    width: 30px;
  }
}
@media only screen and (max-width: 700px) {
  #brand {
    width: 100px;
  }
}
@media only screen and (max-width: 700px) {
  #heading {
    padding-top: 20%;
  }
}
